// colors variables
$princi: #ec650b;
$font-color: #36d317;
$blue-color: rgb(36, 15, 231);
$sec-col: #a3dbdb;
$break-white: #eaf6ff;
$white: #fff;
$black: #000;

//fonts variables
$sofia: "Sofia Sans Extra Condensed", sans-serif;



//media queries variables
$xs: 572px;
$sn: 768px;
$md: 992px;
$lg:1200px;

