.blog-left-side{
    width: 67%;
    flex: 0 0 67%;
    
    @media(max-width:$md){
        width: 100%;
        flex: 0 0 100%;
    }
    @import "blog_item.scss";
    @import "blog_pagination.scss";
}