.blog-intro{
    font-size: 1.1rem;
    text-align: center;
    font-weight: 300;
}
.blog-category{
    margin-bottom: 500px;
    .blog-wrappper{
        justify-content: space-around;
        align-items: center;
    }
    .category-post{
        position: relative;
        width: 33%;
        flex: 0 0 30%;
        text-align: center;
        cursor: pointer;

        &:hover{
            .category-details{
                background-color: transparentize($princi, .35);
            }
        }

        .category-details{
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            top: 20px;
            left: 20px;
            right: 20px;
            bottom: 20px;
            width: 80%;
            margin: 0 auto;
            background-color: transparentize(#191920,.35);
            color: $white;
            transition: all .3s ease;

            h5{
                position: relative;
                margin-bottom: 0;
                font-size: 1.25rem;
                line-height: 1.5;
                text-transform: uppercase;
                color: $white;
            }
            .border-line{
                margin: 10px 0;
                width: 100%;
                height: 1px;
                background: $break-white;
            }
            p{
                margin-bottom: 0;
                font-size: 1.1em;
                line-height: 2;
                font-weight: 400;
            }
        }
    }
}