/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import url("https://fonts.googleapis.com/css2?family=Sofia+Sans+Extra+Condensed:ital,wght@0,300;0,400;0,500;0,600;0,700;1,500;1,600&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

*, *::before, *::after {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: .5rem;
}

h1, .h1 {
  font-size: 2.5em;
}

h2, .h2 {
  font-size: 2.3em;
}

h3, .h3 {
  font-size: 2em;
}

h4, .h4 {
  font-size: 1.6em;
}

h5, .h5 {
  font-size: 1.4em;
}

h6, .h6 {
  font-size: 1.2em;
}

.main-title {
  font-size: 3em;
  font-family: "Sofia Sans Extra Condensed", sans-serif;
  font-weight: 400;
  text-align: center;
  line-height: 1;
  color: #ec650b;
}

.l4-title {
  font-family: "Sofia Sans Extra Condensed", sans-serif;
  color: #240fe7;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 600;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 572px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

html {
  font-family: sans-serif;
  line-height: 1.5;
}

body {
  margin: 0;
  font-family: "Sofia Sans Extra Condensed", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  background-color: #ece7e7;
  color: #495454;
  text-align: left;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

a {
  text-decoration: none;
  outline: none;
}

ul, ol, li, dl {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.fas, .fae, .fab, .fa {
  margin: 0 .25;
  vertical-align: middle;
}

.img {
  height: 100%;
  width: 100%;
  vertical-align: middle;
}

.img-rounded {
  border-radius: 50%;
}

.py-70 {
  padding-top: 70px;
  padding-bottom: 70px;
}

.btn {
  display: inline-block;
  padding: .5rem 1rem;
  background-color: #ec650b;
  color: #fff;
  font-size: 1.15rem;
  line-height: 1.5;
  text-align: center;
  vertical-align: middle;
  border: 1px solid transparent;
  outline: none;
  user-select: none;
  text-decoration: none;
}

.px-15 {
  padding-left: 15px;
  padding-right: 15px;
}

.bg-bw {
  background-color: #eaf6ff;
  padding-top: 70px;
  margin-top: 20px;
}

.section-header p {
  color: #a3dbdb;
}

.pt-120 {
  padding-top: 200px;
}

header.header {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 80px;
  padding-top: 1rem;
  border-top: 0.5rem solid #ec650b;
  background-color: transparent;
}
header.header .header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 992px) {
  header.header.show .navigation {
    transform: translateX(0);
    visibility: visible;
  }
}
@media (max-width: 992px) {
  header.header .logo {
    position: absolute;
    left: 20px;
    top: 5px;
  }
}
header.header .logo img {
  max-width: 150px;
}
header.header .hamburger {
  display: none;
}
@media (max-width: 992px) {
  header.header .hamburger {
    display: block;
    position: absolute;
    font-size: 2rem;
    color: #ec650b;
    right: 20px;
    top: 10px;
    padding: 0 .5rem;
    border-radius: .25rem;
    transition: all .3s ease;
  }
  header.header .hamburger:hover {
    color: rgba(236, 101, 11, 0.25);
    border-color: rgba(236, 101, 11, 0.35);
  }
  header.header .hamburger i {
    vertical-align: initial;
  }
}
@media (max-width: 992px) {
  header.header nav.navigation {
    display: block;
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    height: 500px;
    background-color: rgba(0, 0, 0, 0.75);
    visibility: hidden;
    transform: translateX(-100%);
    transition: transform .5s ease, visibility .5s ease;
  }
}
header.header nav.navigation .nav-links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  min-width: 50%;
}
@media (max-width: 992px) {
  header.header nav.navigation .nav-links {
    display: block;
    max-width: 75%;
    width: 400px;
    height: 100%;
    margin-top: 0;
    margin-left: 0;
    padding-left: 4rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: #ec650b;
    color: #fff;
  }
}
header.header nav.navigation .nav-links .nav-item {
  margin-left: 1rem;
  list-style-type: none;
}
@media (max-width: 992px) {
  header.header nav.navigation .nav-links .nav-item {
    margin-bottom: 1rem;
  }
}
header.header nav.navigation .nav-links .nav-item .nav-link {
  padding: 0.35rem 0.75rem;
  font-size: 1rem;
  font-family: "Sofia Sans Extra Condensed";
  line-height: 2;
  color: inherit;
  font-weight: 400;
  cursor: pointer;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  transition: all .3s ease;
}
@media (max-width: 992px) {
  header.header nav.navigation .nav-links .nav-item .nav-link {
    padding: 0.5rem 1rem;
    color: #a3dbdb;
  }
}
header.header nav.navigation .nav-links .nav-item .nav-link:hover, header.header nav.navigation .nav-links .nav-item .nav-link:active, header.header nav.navigation .nav-links .nav-item .nav-link.active, header.header nav.navigation .nav-links .nav-item .nav-link.hover {
  color: #ec650b;
  border-bottom-color: #ec650b;
}
@media (max-width: 992px) {
  header.header nav.navigation .nav-links .nav-item .nav-link:hover, header.header nav.navigation .nav-links .nav-item .nav-link:active, header.header nav.navigation .nav-links .nav-item .nav-link.active, header.header nav.navigation .nav-links .nav-item .nav-link.hover {
    color: #eaf6ff;
    border-bottom-color: #eaf6ff;
  }
}
header.header nav.navigation .nav-links .nav-item.submenu {
  position: relative;
}
header.header nav.navigation .nav-links .nav-item.submenu:hover .dropdown-menu {
  opacity: 1;
  visibility: visible;
  background-color: #ec650b;
}
@media (max-width: 992px) {
  header.header nav.navigation .nav-links .nav-item.submenu:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
    top: 100%;
    background-color: burlywood;
  }
}
header.header nav.navigation .nav-links .nav-item.submenu .dropdown-menu {
  position: absolute;
  display: block;
  left: 0;
  top: 150%;
  min-width: 200px;
  padding: 0;
  text-align: left;
  background-color: #ec650b;
  color: #eaf6ff;
  border: none;
  border-radius: 0;
  opacity: 0;
  visibility: hidden;
  transition: all .3s ease-in;
}
header.header nav.navigation .nav-links .nav-item.submenu a.nav-linka {
  display: block;
  width: 100%;
  transition: color .25s ease-in;
}
header.header nav.navigation .nav-links .nav-item.submenu a.nav-linka:hover, header.header nav.navigation .nav-links .nav-item.submenu a.nav-linka:active, header.header nav.navigation .nav-links .nav-item.submenu a.nav-linka.active, header.header nav.navigation .nav-links .nav-item.submenu a.nav-linka.hover {
  color: #a3dbdb;
  border-bottom-color: transparent;
}

.header.light-header {
  color: #ec650b;
}

.banner {
  padding: 12em 2em 8em 2em;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.75) 75%, rgba(255, 255, 255, 0.4)), url("../imgs/banner/img2.webp");
  background: cover;
  background-position: top;
  background-repeat: no-repeat;
  text-align: center;
  border-top: 0.5rem solid #ec650b;
}
.banner .banner-wrapper {
  width: 70%;
  margin-top: -2.5rem;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 1.5rem;
}
.banner .banner-wrapper .b-title {
  font-size: 3em;
  font-weight: 400;
  text-align: center;
  margin-bottom: 2rem;
  color: #00dafd;
  line-height: 2;
}
@media (max-width: 992px) {
  .banner .banner-wrapper .b-title {
    margin-top: 2rem;
    font-size: 2em;
    line-height: 1.2;
    margin-bottom: 1rem;
  }
}
.banner .banner-wrapper p {
  color: #fff;
  font-size: 1.3rem;
  font-weight: 400;
  margin-bottom: 2rem;
  text-align: justify;
}
.banner .banner-wrapper .btn {
  display: inline-block;
  padding: .5rem 1rem;
  background-color: #ec650b;
  color: #fff;
  font-size: 1.15rem;
  line-height: 1.5;
  text-align: center;
  vertical-align: middle;
  border: 1px solid transparent;
  outline: none;
  user-select: none;
  text-decoration: none;
  transition: background-color .3s ease-int-out, color .3s ease-in-out, border-color .3s ease-int-out;
}
.banner .banner-wrapper .btn:hover {
  background-color: transparent;
  border-color: #ec650b;
  color: #ec650b;
}

.carda .card-wrapper {
  display: flex;
}
.carda .card-wrapper article {
  margin-right: 1rem;
  padding: 0 1rem 0 1.5rem;
  border: 1px solid transparent;
  border-right-color: rgba(163, 219, 219, 0.55);
}
.carda .card-wrapper article:last-child {
  border-right-color: transparent;
}
.carda .card-wrapper article header {
  margin-bottom: 2rem;
}
.carda .card-wrapper article h4 {
  max-width: 75%;
  font-size: 1.6em;
  font-family: "Sofia Sans Extra Condensed", sans-serif;
  font-weight: 500;
  color: #ec650b;
}
.carda .card-wrapper article p {
  color: #a3dbdb;
}
.carda .card-wrapper article .btn {
  display: inline-block;
  padding: .25rem .5rem;
  background-color: #ec650b;
  color: #fff;
  font-size: 1rem;
  line-height: 1.5;
  text-align: center;
  vertical-align: middle;
  border: 1px solid transparent;
  outline: none;
  user-select: none;
  transition: 0.3s ease;
}
.carda .card-wrapper article .btn:hover {
  color: #ec650b;
  background-color: transparent;
  border-color: #ec650b;
}
@media (max-width: 992px) {
  .carda .card-wrapper {
    flex-flow: column;
  }
  .carda .card-wrapper article {
    margin-bottom: 1rem;
    padding-bottom: 2rem;
    border-right-color: transparent;
    border-bottom-color: rgba(36, 15, 231, 0.75);
  }
  .carda .card-wrapper article:last-child {
    border-bottom-color: transparent;
  }
  .carda .card-wrapper article h4 {
    max-width: 100%;
  }
}

#mentors .mentors-wrapper .mentors-container .mentor-box {
  width: 25%;
  flex: 0 0 25%;
}
@media (max-width: 992px) {
  #mentors .mentors-wrapper .mentors-container .mentor-box {
    width: 50%;
    flex: 0 0 50%;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (max-width: 768px) {
  #mentors .mentors-wrapper .mentors-container .mentor-box {
    width: 90%;
    flex: 0 0 90%;
    margin-left: auto;
    margin-right: auto;
  }
}
#mentors .mentors-wrapper .mentors-container .box {
  text-align: center;
  border-radius: .25rem;
  margin-bottom: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  box-shadow: 1px 1px 3px rgba(236, 101, 11, 0.25), -1px -1px 3px rgba(236, 101, 11, 0.25);
}
#mentors .mentors-wrapper .mentors-container .mentor-img {
  width: 100%;
  height: 100%;
  padding: 1rem;
  margin: auto;
  border-radius: 50%;
}

.articles .articles-container {
  margin-bottom: 700px;
}
.articles .articles-container article {
  width: 50%;
  flex: 0 0 50%;
}
@media (max-width: 992px) {
  .articles .articles-container article {
    width: 100%;
    flex: 0 0 100%;
    margin-bottom: 2rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid rgba(163, 219, 219, 0.75);
  }
}
.articles .articles-container article header h4 {
  font-weight: 400;
  color: #ec650b;
}
.articles .articles-container article p {
  color: #a3dbdb;
  padding: 1rem 0;
}
.articles .articles-container article .article-img {
  width: 100%;
  height: 50%;
  display: flex;
}

.blog-intro {
  font-size: 1.1rem;
  text-align: center;
  font-weight: 300;
}

.blog-category {
  margin-bottom: 500px;
}
.blog-category .blog-wrappper {
  justify-content: space-around;
  align-items: center;
}
.blog-category .category-post {
  position: relative;
  width: 33%;
  flex: 0 0 30%;
  text-align: center;
  cursor: pointer;
}
.blog-category .category-post:hover .category-details {
  background-color: rgba(236, 101, 11, 0.65);
}
.blog-category .category-post .category-details {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  width: 80%;
  margin: 0 auto;
  background-color: rgba(25, 25, 32, 0.65);
  color: #fff;
  transition: all .3s ease;
}
.blog-category .category-post .category-details h5 {
  position: relative;
  margin-bottom: 0;
  font-size: 1.25rem;
  line-height: 1.5;
  text-transform: uppercase;
  color: #fff;
}
.blog-category .category-post .category-details .border-line {
  margin: 10px 0;
  width: 100%;
  height: 1px;
  background: #eaf6ff;
}
.blog-category .category-post .category-details p {
  margin-bottom: 0;
  font-size: 1.1em;
  line-height: 2;
  font-weight: 400;
}

.footer {
  height: auto;
  left: 0;
  right: 0;
  bottom: 0px;
  padding: 10px;
  z-index: 1;
  position: fixed;
  width: 100%;
  background-color: #eaf6ff;
}
.footer .footer-blocks .footer-block {
  width: 50%;
  flex: 0 0 50%;
}
.footer .footer-blocks .f-links li {
  margin-bottom: 1rem;
}
.footer .footer-blocks .f-links li a {
  padding: .5rem 0;
  color: #a3dbdb;
  border-bottom: 1px solid transparent;
  transition: all .3s ease;
}
.footer .footer-blocks .f-links li a:hover {
  color: #ec650b;
  border-bottom-color: #ec650b;
  border: none;
}
.footer .footer-blocks .s-links ul {
  display: flex;
  align-items: center;
  width: 100%;
}
.footer .footer-blocks .s-links a {
  padding: 1rem;
  color: #a3dbdb;
  transition: .3s ease;
}
.footer .footer-blocks .s-links a:hover {
  color: #ec650b;
}
.footer .footer-blocks .copyright {
  width: 100%;
  margin-top: 1rem;
  padding: 1rem;
  color: #ec650b;
  text-align: center;
}
